/* with css reset */
* { box-sizing: border-box; }

body{
	background-image: url('https://i.paste.pics/a4d308c61e4593f4868f205e64866f1e.png');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	color:white;
	text-align: center;  
}


table {
    border:  2px solid rgba(211, 211, 211, 0.267);
	margin: auto;
	background-color: rgba(5, 5, 5, 0.452);
}
tr:first-child td {
    border-top-color: rgba(211, 211, 211, 0.596);
    
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 2px solid rgba(211, 211, 211, 0.596);
	height: 40px;
	width: 40px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
 }  

input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
	background-color: #bf97627c;
	font-weight: bold;
} 

input:hover {
	background: #ffffff67;
}

input:disabled {
	color: black;
}

button{
	background-color: rgb(122, 111, 102);
    color: rgba(0, 0, 128, 0.541);
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    width: 170px;
	height: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.26);
	border: 2px rgba(0, 0, 0, 0.774) solid;    
}